{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} - Zetech Uninversity</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel='stylesheet' type="text/css" href="{%static 'css/style.css'%}">
   <link rel='stylesheet' type="text/css" href="{%static 'css/errormessages.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-nfViO5sb5zjM5Jxx18kVQpiSYIwA7dJyKj8g7W98+0v3qjKQ4/eop8B+kWkivvPwcp0pSqbS+w7AG8hDz5UCtQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!--  jquery tables library and cdn links-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-dv50k61whIwSbS+cdHuhIO6A/Z28WSUcPe6UZiq6YMLvyWs+0f6Ggq3rF2QaGzGMjM2QeMezA51JxsfhbY+uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-YZm9X9gOcAK38iDYvugUKfihCgjKw/De+ihGdHCDpItOmIjX9iu5zWTJ5kv5q8y5gO1bfw+zV7jKQCG3qV7vlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
    <script src="{%static 'js/script.js'%}"></script>
</head>

<body>
<section class="header-navigation">
{%include 'navigation/navigation_bar.html'%}
</section>

<section class="body-content">
    <div class="container ">
        <div class="row justify-content-center">
            <div id="toast-container" class="col-md-12" style="z-index: 9999;"></div>
        </div>
    {%block content%}

    {%endblock content%}
    </div>
</section>

<section class="footer text-center">
{%include 'footer/footer.html'%}
</section>
<section class="copyright-section text-center">
    <div class="container">
        Zetech University  Copyright &copy; 2023
    </div>
</section>
<! ---------------------------------------scripts---------------------------------------->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    {% for message in messages %}
        var toast = $('<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">')
            .addClass('toast-' + '{{ message.tags }}')
            .append($('<div class="toast-body">').text('{{ message }}'))
            .appendTo('#toast-container');
        toast.toast('show');
    {% endfor %}
});
</script>

</body>
</html>