{%extends 'base/base.html'%}
{%block title%}Admin Panel{%endblock title%}
{%block content%}
<div class="text-center admin-title">Adminstration Page</div>

<div class="row adminstrator-panel">
  <a href="{%url 'system_users'%}" class="card col-2">
    <div class="card-body">
      <div class="card-title h5 adminstrator-page-card-titles">
        Users
      </div>
    </div>
  </a>

   <a href="{%url 'dashboard'%}" class="card admin-card  col-2">
    <div class="card-body">
        <div class="card-title h5 adminstrator-page-card-titles">
            Facilities
        </div>
    </div>
  </a>

   <a href="{%url 'peripherals'%}" class="card admin-card col-2">
    <div class="card-body">
        <div class="card-title h5 adminstrator-page-card-titles" >
            Peripherals
        </div>
    </div>
  </a>
  <a href="{%url 'system_logs'%}" class="card admin-card col-2">
    <div class="card-body">
        <div class="card-title h5 adminstrator-page-card-titles">
            System Logs
        </div>
    </div>
  </a>
</div>

{%endblock content%}