{%extends 'base/base.html'%}
{%load static%}
{%block title%}Login{%endblock title%}
{%block content%}
<div class="row justify-content-center">
    <form method="post" class="form-container frmlogin">
        {%csrf_token%}
        {%for field in form%}
        {{field.label_tag}}
        <div class="form-control form-control-lg">
            {{field}}
        </div>
        {%endfor%}
        <button class="btn btn-block loginbtn h5" type="submit">Create User</button>
    </form>
</div>
{%endblock content%}