{%extends 'base/base.html'%}
{%load static%}
{%block title%}Create User{%endblock title%}
{%block content%}
<div class="py-3 text-center h4 users-page-title">Add New User</div>

    <form method="post" class="row create-user-form">

    <div class="col-md-12 m-2">
        <a href="{%url 'system_users'%}" class="btn btn-lg back-to-dashboard-button">
            <i class="bi bi-arrow-left-circle"></i>
            Users
        </a>
    </div>

    {% csrf_token %}
    <div class="col-md-6 mt-2">
            <label class="h6">Email</label>
            <div class="form-group">
              <input type="text" required autofocus name="email" placeholder='email' class="form-control">
            </div>
        </div>

        <div class="col-md-6 mt-2">
            <label class="h6">First Name</label>
            <div class="form-group">
              <input type="text" required autofocus name="first_name" placeholder='first name' class="form-control">
            </div>
        </div>

        <div class="col-md-6 mt-2">
            <label class="h6">Password</label>
            <div class="form-group">
              <input type="password" required autofocus name="password1" placeholder='password' class="form-control">
            </div>
        </div>

        <div class="col-md-6 mt-2">
            <label class="h6">Last Name</label>
            <div class="form-group">
              <input type="text" required autofocus name="last_name" placeholder='last_name' class="form-control">
            </div>
        </div>


        <div class="col-md-6 mt-2">
            <label class="h6">Password Confirmation</label>
            <div class="form-group">
              <input type="password" required autofocus name="password2" placeholder='confirm password' class="form-control">
            </div>
        </div>

    <div class="col-md-12 text-center mt-3 mb-2">
        <button class="btn btn-secondary loginbtn h5" type="submit">Submit</button>
    </div>
</form>

{%endblock content%}