{%extends 'base/base.html'%}
{%load static%}
{%block title%}Login{%endblock title%}
{%block content%}
<div class="py-3 text-center h4 users-page-title">Add New User</div>

    <form method="post" class="row create-user-form">

    <div class="col-md-12 m-2">
        <a href="{%url 'system_users'%}" class="btn btn-lg back-to-dashboard-button">
            <i class="bi bi-arrow-left-circle"></i>
            Users
        </a>
    </div>

    {% csrf_token %}
    {% for field in form %}
    <div class="col-md-6 form-column">
        {{ field.label_tag }}
        <div class="form-group">
            {{ field }}
        </div>
    </div>
    {% endfor %}

    <div class="col-md-12 text-center mt-3 mb-2">
        <button class="btn btn-secondary loginbtn h5" type="submit">Create User</button>
    </div>
</form>

{%endblock content%}