{%extends 'base/base.html'%}
{%load static%}
{%block title%}index{%endblock title%}
{%block content%}
<div class="container align-items-center">
    <div class="row py-5 mx-auto">
        <div class="col-lg-12 py-5 ml-5 content-align-center">
            <div class="py-5 text-center"><label class="text-info h3"></label></div>
            <div class="container-fluid shadow-lg ">
                <div class="row shadow-lg my-container justify-content-center">

                        <form method="post">
                            {%csrf_token%}
                            <label class="h4">Username</label>
                            <div class="form-group">
                              <input type="email" name="username" placeholder="mail@zetech.ac.ke" class="form-control rounded-pill">
                            </div>

                            <label class="h4">Password</label>
                            <div class="form-group">
                              <input type="password" name="password" placeholder="........." class="form-control rounded-pill">
                            </div>

                            <input type="submit" value="Login">
                             <label class="small-text ml-4 my-text">forgot password</label>
                        </form>


                </div>
            </div>

        </div>
    </div>
</div>


{%endblock content%}