{%extends 'base/base.html'%}
{%load static%}
{%block title%}create category{%endblock title%}
{%block content%}
<div class="create-peripheral-title text-center">Create Facility Category</div>
    <form method="post" class="row create_category_form">
        {%csrf_token%}
        <div class="col-md-6">
           <div class="form-group">
             <label for="title" class="h5">Category Title</label>
             <input type="text" value="" required class="form-control" name="title" id="title">
           </div>
        </div>
        <div class="col-md-12 text-center">
        <button class="btn loginbtn h5" type="submit">Submit</button>
            <a href="{%url 'facility_category'%}" class="text-white btn h5 ml-4 cancel-user-creation-button">Cancel</a>
        </div>

    </form>
{%endblock content%}