{%extends 'base/base.html'%}
{%load static%}
{%block title%}Add Refreshment{%endblock title%}
{%block content%}
<div class="create-peripheral-title text-center">Add Refreshment</div>
    <form method="post" class="row edit-facility-category-form">
    {% csrf_token %}

      <div class="col-md-6">
        <div class="form-group">
          {{ form.title.label_tag }}
          {{ form.title }}
        </div>
      </div>
    <div class="col-md-12 text-center">
    <button type="submit" class="btn loginbtn">Submit</button>
    <a href="{%url 'refreshments_list'%}" class="text-white btn ml-4 cancel-user-creation-button">Cancel</a>
    </div>

  </form>
{%endblock content%}