{%extends 'base/base.html'%}
{%load static%}
{%block title%}create peripheral{%endblock title%}
{% block content %}
  <div class="create-peripheral-title text-center">Create Peripheral</div>

  <form method="post" class="row create_peripheral_form">
    <div class="col-md-12">
      <a href="{%url 'peripherals'%}" class="btn cancel-user-creation-button text-white fw-bold">Back</a>
    </div>
    {% csrf_token %}

    <div class="col-md-6 mt-3">
      <div class="form-group">
        <p class="h5 fw-bold"> {{ form.title.label_tag }}</p>
        {{ form.title }}
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="form-group">
        <p class="h5 fw-bold"> {{ form.category.label_tag }}</p>
        {{ form.category }}
      </div>
    </div>
    <div class="col-md-12 text-center mt-4">
    <button type="submit" class="btn loginbtn">Submit</button>
    </div>
  </form>
{% endblock content %}
