{%extends 'base/base.html'%}
{%load static%}
{%block title%}create peripheral{%endblock title%}
{% block content %}
  <div class="create-peripheral-title text-center">Create Peripheral</div>

  <form method="post" class="row create_peripheral_form">
    {% csrf_token %}

    <div class="col-md-6">
      <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        {{ form.category.label_tag }}
        {{ form.category }}
      </div>
    </div>
    <div class="col-md-12 text-center mt-4">
    <button type="submit" class="btn loginbtn">Submit</button>
       <a href="{%url 'peripherals'%}" class="btn cancel-user-creation-button text-white ml-4">Cancel</a>
    </div>
  </form>
{% endblock content %}
