{%extends 'base/base.html'%}
{%block title%}System Users{%endblock title%}
{%block content%}
<div class="py-3 text-center h4 users-page-title">Peripherals</div>
<div class="row adminstrator-users-panel justify-content-center">
    <div class="card users-table-container">
            <div class="justify-content-between h3 d-flex align-items-center py-2 text-center">
                {%if role == 'administrator'%}
                <div class="float-left text-center h6">
                    <a href="{%url 'adminstrator_page'%}" class="btn btn-lg">
                        <i class="bi bi-arrow-left-circle"></i>
                        Dashboard
                    </a>
                </div>
                <div class="float-right"><a class="btn btn-lg add-peripheral-btn" href="{%url 'create_peripheral'%}"> Add Peripheral</a></div>
                {%else%}
                <div class="py-2 float-left text-center h6">Available Rooms</div>
                {%endif%}
            </div>
         <table class="table data-table">
              <thead>
                <tr>

                  <th scope="col">id</th>
                  <th scope="col">name</th>
                  <th scope="col">Date Added</th>
                  <th scope="col">Date Modified</th>
                  <th scope="col">Status</th>
                  <th scope="col">Manage</th>
                </tr>
              </thead>
              <tbody>
              {%for item in peripheral%}
              <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.date_created}}</td>
                  <td>{{item.date_modified}}</td>
                  <td>
                    {%if item.active == 1%}
                    Active
                    {%else%}
                    Not Active
                    {%endif%}
                  </td>
                  <td>
                      <a class="update_disable_item_link" href="{%url 'update_peripheral' item.pk%}">update</a>
                      {%if item.active == 1%}
                      <a class="update_disable_item_link" href="{%url 'activate_deactivate_peripheral' item.pk%}">disable</a>
                      {%else%}
                      <a class="activate_item_link" href="{%url 'activate_deactivate_peripheral' item.pk%}">activate</a>
                      {%endif%}
                  </td>
              </tr>
              {%endfor%}
              </tbody>
        </table>
    </div>
    </div>

{%endblock content%}