{%extends 'base/base.html'%}
{%block title%}settings{%endblock title%}
{% block content %}
<div class="py-3 text-center h4 users-page-title">Change settings</div>
  <form id="booking-approval-form" class="row settings_content_wrapper">
    {% csrf_token %}
    <label>
      <input type="checkbox" name="need_approval" {% if booking_approval.need_approval %}checked{% endif %}>
      set bookings to require administrator approval
    </label>
  </form>
{% endblock %}

{% block script %}
  <script>
    const form = document.querySelector('#booking-approval-form');
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    form.addEventListener('change', event => {
      event.preventDefault();
      const formData = new FormData(form);
      fetch('{% url "booking_approval_api" %}', {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          console.log(`Need approval status: ${data.need_approval}`);
        }
      })
      .catch(error => console.error(error));
    });
  </script>
{% endblock %}
