{%extends 'base/base.html'%}
{%block title%}Update User{%endblock title%}
{%block content%}
<div class="py-3 text-center h4 users-page-title text-capitalize">Edit {{user.last_name}}'s Details</div>

<form method="post" class="row user-update-form">
    <div class="col-md-12">
        <a href="{%url 'system_users'%}" class="btn cancel-user-creation-button text-white fw-bold">Back</a>
    </div>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {%csrf_token%}
    {%for field in form%}
    <div class="col-md-6 mt-3">
        <div class="form-group">
            <label class="h5">{{field.label_tag}}</label>
            {{field}}
        </div>
    </div>
    {%endfor%}
    <div class="col-md-12 text-center">
    <button class="btn create-room-submit-btn h5" type="submit">Submit</button>
    </div>
</form>
{%endblock content%}