{%extends 'base/base.html'%}
{%block title%}System Users{%endblock title%}
{%block content%}
<div class="py-3 text-center h4 users-page-title">Users</div>
<div class="row adminstrator-users-panel justify-content-center">
    <div class="card users-table-container">
     <div class="justify-content-between h3 d-flex align-items-center py-2 text-center">
      <div class="py-2 float-left ml-3 h6"><a href="{%url 'adminstrator_page'%}"> back </a> </div>
        <div class="float-right"> <a class="add-user-button" href="{%url 'create_user'%}">Add User</a> </div>
    </div>
         <table class="table data-table">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Email</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">level</th>
                  <th scope="col">Status</th>
                  <th scope="col">Manage</th>
                </tr>
              </thead>
              <tbody>
              {%for user, role in user_roles%}
              <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.first_name}}</td>
                  <td>{{user.last_name}}</td>
                  <td>{{role}}</td>
                  <td>
                    {%if user.active%}
                      Active
                    {%else%}
                      Not Active
                    {%endif%}
                  </td>
                  <td>
                      <div class="btn-group dropup">
                          <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </button>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="{%url 'user_detail' user.pk%}">view</a>
                              <a class="dropdown-item update_disable_item_link" href="{%url 'update_user' user.pk%}">update</a>
                              {%if user.active == 1%}
                              <a class="dropdown-item update_disable_item_link" href="{%url 'activate_deactivate_user' user.id%}">disable</a>
                              {%else%}
                              <a class="dropdown-item activate_item_link" href="{%url 'activate_deactivate_user' user.id%}">activate</a>
                              {%endif%}
                          </div>
                      </div>
                  </td>
              </tr>
              {%endfor%}
              </tbody>
        </table>
    </div>
</div>
{%endblock content%}
