{%extends 'base/base.html'%}
{%block title%}System Users{%endblock title%}
{%block content%}
<div class="py-3 text-center h4 users-page-title">Users</div>
<div class="row adminstrator-users-panel justify-content-center">
    <div class="d-flex align-items-center">
      <div class="py-2 text-left h3">Available Rooms</div>
      <a class="btn float-right add-user-button" href="{%url 'create_user'%}">Add User</a>
    </div>
    <div class="card users-table-container">
         <table class="table data-table">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Email</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">level</th>
                  <th scope="col">Status</th>
                  <th scope="col">Manage</th>
                </tr>
              </thead>
              <tbody>
              {%for user, role in user_roles%}
              <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.first_name}}</td>
                  <td>{{user.last_name}}</td>
                  <td>{{role}}</td>
                  <td>
                    {%if user.active%}
                      Active
                    {%else%}
                      Not Active
                    {%endif%}
                  </td>
                  <td>
                      <a href="{%url 'user_detail' user.pk%}">view</a>
                      <a class="update_disable_item_link" href="{%url 'update_user' user.pk%}">update</a>
                      {%if user.active == 1%}
                      <a class="update_disable_item_link" href="{%url 'activate_deactivate_user' user.id%}">disable</a>
                      {%else%}
                      <a class="activate_item_link" href="{%url 'activate_deactivate_user' user.id%}">activate</a>
                      {%endif%}
                  </td>
              </tr>
              {%endfor%}
              </tbody>
        </table>
    </div>
</div>
{%endblock content%}
