{%extends 'base/base.html'%}
{%block title%}user details{%endblock title%}
{%block content%}
<div class="py-4 h4 text-center user-detail-title">{{user_id.email}}</div>
<div class="row user-details-wrapper">
   <div class="col-md-4 user-details-container">

       <div class="row shadow-sm mx-2 mt-2">
           <div class="col">
               Username
           </div>
           <div class="col">
               {{user_id.email}}
           </div>
       </div>

       <div class="row shadow-sm mx-2 mt-2">
           <div class="col">
               First Name
           </div>
           <div class="col">
               {{user_id.first_name}}
           </div>
       </div>

       <div class="row shadow-sm mx-2 mt-2">
           <div class="col">
               Last Name
           </div>
           <div class="col">
               {{user_id.last_name}}
           </div>
       </div>
       <div class="row shadow-sm  mx-2 mt-2">
           <div class="col">
               Level
           </div>
           <div class="col">
               {{user_id.first_name}}
           </div>
       </div>

   </div>

   <div class="col-md-4">
      <div class="row shadow-sm  mx-2 mt-2">
           <div class="col">
               Status
           </div>
           <div class="col">
               {%if user_id.active == 1%}
               Active
               {%else%}
               Not Active
               {%endif%}
           </div>
       </div>
        <div class="row shadow-sm  mx-2 mt-2">
           <div class="col">
               Last Login
           </div>
           <div class="col">
               {{user_id.last_login}}
           </div>
       </div>
        <div class="row shadow-sm  mx-2 mt-2">
           <div class="col">
               Date Created
           </div>
           <div class="col">
               {{user_id.created_at}}
           </div>
       </div>
        <div class="row shadow-sm  mx-2 mt-2">
           <div class="col">
               Date Updated
           </div>
           <div class="col">
               {{user_id.updated_at}}
           </div>
       </div>
  </div>

    </div>

</div>

{%endblock content%}