header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
}
main {
  height: auto;
  margin-top: 7.0rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  overflow: auto;
  max-width: 800px;
}
.navbar{
    background-color: #041E42;
}
.dashboard_list{
    background-color: #FFFDD0;
}
.navbar-toggler{
    background-color: #CB6015;
}
.navbar img{
    width: 170px;
   }

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar-text{
    margin-left: 2.5rem;
    font-weight: 700;
    font-size: 25px;
}

.nav-item {
  margin: 0 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.my-container{
    background-color: #CB6015;
    border-radius: 10px;
}

}
.my-text{
    color: #041E42;
}
.footer{
    background-color: #041E42;
}
.loginbtn{
    background-color: #CB6015;
    margin-top: 2.0rem;
    color: bold;
}

.frmlogin{
    margin-top: 9.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
}
.imglogo{
    color:#fff;
}

/*-----------------room-booking-page-styling------------*/
.room-bookings-card{
    margin-top: 9.5rem;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
    width: 80%;
    padding: 0.5rem;
    border-radius: 3px;
}
.add-room-button{
    background-color: #CB6015;
    font-weight: bolder;
}
.room-create-form{
    width: 300px;
    margin-top: 8.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 5px;
    border: 2px solid #0000;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
    }
.room-fields{
    font-weight: bold;
}
.create-room-submit-btn{
    background-color: #CB6015;
    margin-top: 2.0rem;
    font-weight: bold;
}

/*----------x-------room-booking-page-styling-----x-----*/

/*-------------------room-detail-page-styling----------*/
.room-detail-container{
    padding-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 9.5rem;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
}
.horizontal-line{
    background-color: #041e42;
    font-weight: bolder;
}
.room-detail-titles{
    color: #cb6015;
}
.book-room-form{
    margin-top: 2.0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
}
.book-room-btn{
    background-color: #CB6015;
    margin-top: 2.0rem;
    font-weight: bold;
}
/*-------------------room-detail-page-styling----------*/


/*-------------------------adminstrator page--styling*/
.admin-title{
    margin-top: 7.0rem;
    color: #CB6015;
    font-weight: bold;
}
.adminstrator-panel{
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
}
.admin-card{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.adminstrator-page-card-titles{
    color: #041e42;
}
/*--------------------users-page-styling----------------*/
.users-page-title{
    margin-top: 5.0rem;
    color: #CB6015;
    font-weight: bold;
}
.adminstrator-users-panel{
    margin: 0.5rem;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
}
.add-user-button{
    background-color: #CB6015;
    font-weight: bold;
    border-radius: 2px;
    color: white;
    margin: 0.5rem;
}
.users-table-container{
    width: 95%;
}
.user-detail-title{
    margin-top: 5.0rem;
    color: #CB6015;
    font-weight: bold;
}
.user-details-wrapper{
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
}
.user-details-container{
    margin-left: 1.5rem;
    padding: 0;
}
.activate_item_link{
    color: #CB6015;
    font-weight: bold;
}
.update_disable_item_link{
    color: #041e42;
    font-weight: bold;
}
/* -------------------booking detail styling-----------------*/
.book-detail-title-text{
    font-weight: bold;
}
.approve-booking-btn{
    background-color: #041e42;
    color: white;
    font-weight: bold;
}
.approve-booking-btn:hover{
    color: #CB6015;
}
.reject-booking-btn{
    background-color: #CB6015;
    color: white;
    font-weight: bold;
}