header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
}
main {
  height: auto;
  margin-top: 7.0rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  overflow: auto;
  max-width: 800px;
}
.navbar{
    background-color: #041E42;
}
.dashboard_list{
    background-color: #FFFDD0;
}
.navbar-toggler{
    background-color: #CB6015;
}
.navbar img{
    width: 170px;
   }

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar-text{
    margin-left: 2.5rem;
    font-weight: 700;
    font-size: 25px;
}

.nav-item {
  margin: 0 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.my-container{
    background-color: #CB6015;
    border-radius: 10px;
}

}
.my-text{
    color: #041E42;
}
.footer{
    background-color: #041E42;
}
.room-detail-container{
    padding-top: 9.0rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 1.0rem;
}
.loginbtn{
    background-color: #CB6015;
    margin-top: 2.0rem;
}

.frmlogin{
    margin-top: 8.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
}
.imglogo{
    color:#fff;
}

/*-----------------room-booking-page-styling------------*/
.room-bookings-card{
    margin-top: 9.5rem;
    box-shadow: 1px 1px 5px #041e42, -1px -1px 5px #cb6015;
    width: 80%;
    margin-left: 2.0rem;
    padding: 0.5rem;
    border-radius: 3px;
}
.add-room-button{
    background-color: #CB6015;
    font-weight: bolder;
}
.room-fields{
    font-weight: bold;
}
.create-room-submit-btn{
    background-color: #CB6015;
    margin-top: 2.0rem;
    font-weight: bold;
}

/*----------x-------room-booking-page-styling-----x-----*/