<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand h2 text-white" href="#">Room Booking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link h5 text-white mx-4" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link h5 text-white mx-4" href="#">Dashboard</a>
      <a class="nav-item nav-link h5 text-white mx-4" href="#">Bookings</a>
      <a class="nav-item nav-link h5 text-white mx-4" href="#">Contact</a>

      <div class="dropdown show mx-4 my-2">
          <a class="text-light h5 dropdown-toggle" href="#" role="button" id="dropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownLink">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
      </div>

    <div class="dropdown show mx-4 my-2">
          <a class="text-light h5 dropdown-toggle" href="#" role="button" id="dropdownnLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownnLink">
            <a class="dropdown-item" href="#">Sign in</a>
            <a class="dropdown-item" href="#">Sign up</a>
          </div>
      </div>

    </div>
  </div>
</nav>