{%load static%}
 <nav class="navbar navbar-expand-lg navbar-dark">
  <img src="{%static 'images/logo1.png'%}" class="navbar-brand ml-4">
     <span class="navbar-site-name text-white">Room Booking</span>
     {%if request.user.is_authenticated%}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
     <li class="nav-item">
      {%if role == 'administrator'%}
         <a class="nav-link text-white" href="{%url 'dashboard'%}">Rooms</a>
         {%else%}
         <a class="nav-link text-white" href="{%url 'rooms'%}">Rooms</a>
     {%endif%}
      </li>
         {%if role == 'administrator' or role == 'approver'%}
      <li class="nav-item">
        <a class="nav-link text-white" href="{%url 'bookings'%}">Bookings</a>
      </li>
        {%else%}
         <li class="nav-item">
         <a class="nav-link text-white" href="{%url 'my_booking'%}">My Bookings</a>
        </li>
        {%endif%}
    {%if role == 'administrator'%}
     <li class="nav-item">
        <a class="nav-link text-white" href="{%url 'adminstrator_page'%}">Admin</a>
     </li>
    {%endif%}
      <li class="nav-item">
        <a class="nav-link text-white" href="{%url 'signout'%}">Logout</a>
      </li>
    </ul>
  </div>
     {%endif%}
</nav>


