<div class="container text-white">
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <p>Call: 0719034500</p>
            <p>Whatsapp: 0706622557</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
            <p>Main Website: www.zetech.ac.ke</p>
        </div>
         <div class="col-md-4">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            <p>Off Thika Road, Ruiru</p>
        </div>
    </div>
</div>