{%extends 'base/base.html'%}
{%block title%}Room-Bookings{%endblock title%}
{%block content%}
<div class="container">
     <div class="py-5 text-center h3">Room Bookings</div>
    <div class="row text-center shadow-lg">

       <div class="col-sm-6">
           <div class="row py-2">
               <div class="col-sm-6"><a class="btn btn-warning">All</a><hr class="bg-info"></div>

               <div class="col-sm-6"><a class="btn btn-primary">Approved</a></div>
           </div>
       </div>

       <div class="col-sm-6">
           <div class="row py-2">
               <div class="col-sm-6"><a class="btn btn-danger">Cancelled</a></div>
                <div class="col-sm-6"><a class="btn btn-secondary">Pending</a></div>
           </div>
       </div>

    </div>

    <div class="row my-4 shadow-lg">

         <table class="table">
              <thead>
                <tr>
                  <th scope="col">Campus</th>
                  <th scope="col">Room</th>
                  <th scope="col">Location</th>
                  <th scope="col">Meeting</th>
                  <th scope="col">Booked by</th>
                  <th scope="col">starting time</th>
                  <th scope="col">Ending time</th>
                  <th scope="col">View</th>
                  <!--<th scope="col">Job Title</th>-->
                </tr>
              </thead>
              <tbody>
              {%for book in room_booking%}
              <tr>
                  <td>{{book.room_id.campus_name}}</td>
                  <td>{{book.room_id}}</td>
                  <td>{{book.room_id.room_position}}</td>
                  <td>{{book.title}}</td>
                  <td>{{book.booked_by}}</td>
                  <td>{{book.start_time}}</td>
                  <td>{{book.end_time}}</td>
                  <td><a href="{%url 'book_detail' book.pk%}">View</a></td>
              </tr>
              {%endfor%}
              </tbody>
            </table>

    </div>

</div>
{%endblock content%}