{%extends 'base/base.html'%}
{%load static%}
{%block title%}book room{%endblock title%}
{%block content%}
<div class="col-md-12 text-center bookings-title">Book Room</div>

    <form method="post" class="row book_room_form">
    <div class="col-md-12 m-2">
         {%if role == 'administrator'%}
           <a href="{%url 'dashboard'%}" class="btn btn-lg back-to-dashboard-button">
             <i class="bi bi-arrow-left-circle"></i>
             Dashboard
         </a>
            {%else%}
            <a href="{%url 'rooms'%}" class="btn btn-lg back-to-dashboard-button">
             <i class="bi bi-arrow-left-circle"></i>
             Rooms
         </a>
            {%endif%}
    </div>
        {%csrf_token%}
        <div class="col-md-6 mt-2">
            <label class="h6">Meeting title</label>
            <div class="form-group">
              <input type="text" required autofocus name="title" placeholder='meeting title' class="form-control">
            </div>



        <label class="h6">Starting date:</label>
        <div class="form-group">
          <input type="text" required name="starting-date" id="datetimepicker"  value="{{ datetime|date:'Y-m-d H' }}" class="form-control">
        </div>



         <label class="h6">Ending date:</label>
        <div class="form-group">
          <input type="text" required name="ending-date" id="datetimepicker2" value="{{ datetime|date:'Y-m-d H' }}" class="form-control">
        </div>
        </div>

         <div class="col-md-6 mt-2 text-center">
         <label class="h6">Peripherals</label>
        </div>

        <div class="col-md-12 text-center mt-2">
        <button class="btn btn-secondary book-room-btn h5" id="book-room-button"  type="submit">Book Room</button>
        </div>
    </form>
<script>
$(function () {
  var now = new Date();
  now.setSeconds(0);
  now.setMilliseconds(0);
  var nextMinute = new Date(now.getTime() + 60 * 1000);

  var disabledDates = [
    {%for book in bookings%}
    new Date('{{book.date_end|hour:"Y-m-d H"}}'),
    new Date('{{book.date_end|hour:"Y-m-d H"}}')
    {%endfor%}
  ]
  console.log(disabledDates);
  $('#datetimepicker, #datetimepicker2').datetimepicker({
    defaultValue: '{{ datetime|date:"Y-m-d H" }}',
    minDateTime: nextMinute,
    disabledDates: disabledDates
  });

});


</script>
{%endblock content%}