{%extends 'base/base.html'%}
{%load static%}
{%block title%}Room Detail{%endblock title%}
{%block content%}
<div class="row p-4" style="height: 95vh; width: 100%; background-color: white; background-attachment: fixed;">
  <div class="col-lg-8 mt-3 ml-5 shadow-lg">
    <div class="py-5 text-center user-profile-image">
        <img src="" alt="image"> <br>
        <label class="h2 text-info">{{object.title}} </label>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        <div class="container-fluid">
            <div class="row mt-3 p-4" >
                <div class="col-md-5 shadow-lg">
                    <label class="text-center text-info h4 mt-2">Booking Information</label>
                    <hr class="bg-info">

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5">Booked by:</div>
                        <div class="col text-capitalize">{{object.booked_by}}</div>
                    </div>

                    <div class="row mt-3 pl-0 shadow-sm">
                        <div class="col h5">Room   :</div>
                        <div class="col h5 text-capitalize">{{object.room_id}}</div>
                    </div>

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5">Title  :</div>
                        <div class="col h5 text-capitalize">{{object.title}}</div>
                    </div>

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5 pl-0">Status:</div>
                        <div class="col h5">{{object.status}}</div>
                    </div>

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5">Capacity:</div>
                        <div class="col h5">{{object.room_capacity}}</div>
                    </div>
                </div>

                 <div class="vr bg-dark"></div>

                <div class="col-md-6 shadow-lg ml-3">
                    <label class="text-center text-info h4 mt-2">Time</label>
                    <hr class="bg-info">
                    <div class="row mt-3 shadow-sm">
                        <div class="col h5 align-left">Starting Time:</div>
                        <div class="col">{{object.start_time}}</div>
                    </div>

                    <div class="row mt-3 pl-0 shadow-sm">
                        <div class="col h5">Ending Time:</div>
                        <div class="col">{{object.end_time}}</div>
                    </div>

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5">Category:</div>
                        <div class="col h5">{{object.employee_category}}</div>
                    </div>

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5 pl-0">Time Updated:</div>
                        <div class="col h5">{{object.date_updated}}</div>
                    </div>

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5">Date Booked:</div>
                        <div class="col h5">{{object.date_booked}}</div>
                    </div>

                    <div class="row mt-3 shadow-sm">
                        <div class="col h5">Active:</div>
                        <div class="col h5">{{object.is_active}}</div>
                    </div>
                </div>
            </div>
            <div class="row py-5 ml-4 mr-4 shadow-lg rounded">
                <div class="col-2"><a href="#" class="btn btn-secondary"> Back</a></div>
                <div class="col-2"><a href="#" class="btn btn-info">Approve</a></div>
                {%if request.user.is_admin%}
                <div class="col-2"><a href="{%url 'booking_update' object.id%}" class="btn btn-primary"> Update</a></div>
                {%if object.is_active == False%}
                <div class="col-2"><a href="#" class="btn btn-success ">Cancel</a> </div>
                <div class="col-2"><label class="text-danger">can't book room, is not in use</label> </div>
                {%else%}
                <div class="col-2"><a href="#" class="btn btn-warning">Cancel</a></div>
                {%endif%}
                {%endif%}

            </div>
         </div>
    </div>
  </div>
</div>
{%endblock content%}