{%extends 'base/base.html'%}
{%load static%}
{%block title%}Edit Booking{%endblock title%}
{%block content%}
<div class="col-md-12 text-center bookings-title">Edit Booking</div>

    <form method="post" class="row book_room_form">
        <div class="col-md-12 m-2">
             {%if role == 'administrator'%}
               <a href="{%url 'booking_detail' booking.pk%}" class="btn btn-lg back-to-dashboard-button">
                 <i class="bi bi-arrow-left-circle"></i>
                 Back
             </a>
                {%else%}
                <a href="{%url 'booking_detail' booking.pk%}" class="btn btn-lg back-to-dashboard-button">
                 <i class="bi bi-arrow-left-circle"></i>
                 Back
             </a>
                {%endif%}
        </div>
        {%csrf_token%}
        <div class="col-md-6 mt-2">

        <div class="form-group">
          {{ form.title.label_tag }}
          {{ form.title }}
        </div>


       <div class="form-group">
          {{ form.date_start.label_tag }}
         <input type="text" id="{{ form.date_start.id_for_label }}" name="{{ form.date_start.name }}" class="form-control"
                 autocomplete="off" readonly required value="{{ form.initial.date_start|date:'Y-m-d\TH:i' }}">
       </div>

        <div class="form-group">
          {{ form.date_end.label_tag }}
         <input type="text" id="{{ form.date_end.id_for_label }}" name="{{ form.date_end.name }}" class="form-control"
                 autocomplete="off" readonly required value="{{ form.initial.date_end|date:'Y-m-d\TH:i' }}">
       </div>
        </div>
         <div class="col-md-6 mt-2">
         <div class="py-2"><label class="h6">Available Services</label></div>
             {%for x in peripherals%}
            <p><input class="bg-info" type="checkbox" checked disabled> {{x.title}}</p>
             {%endfor%}

        <div class="dropdown mt-4">
          <button class="btn btn-secondary dropdown-toggle form-control h5" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
              Request Services
          </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for choice in form.extra_peripherals %}
        <div class="dropdown-item">
            {{ choice }}
            <input type="hidden" name="{{ choice.name }}" value="{{ choice.value }}">
        </div>
        {% endfor %}
        <div class="py-2 px-2"><label class="h6 text-danger">NOTE : Bookings that require below services should be done a day earlier.</label></div>
        {% for choice in form.refreshments %}
        <div class="dropdown-item">
            {{ choice }}
            <input type="hidden" name="{{ choice.name }}" value="{{ choice.value }}">
        </div>
        {% endfor %}
        </div>
        </div>
      </div>

        <div class="col-md-12 text-center mt-2">
        <button class="btn btn-secondary book-room-btn h5" id="book-room-button"  type="submit">Submit</button>
        </div>

    </form>
<script>
$(function () {
  var now = new Date();
  now.setMinutes(0);
  now.setSeconds(0);
  now.setMilliseconds(0);
  var nextHour = new Date(now.getTime() + 60 * 60 * 1000);

  var disabledDates = [
    {% for book in bookings %}
      new Date('{{ book.date_start|date:"Y/m/d H:i" }}'),
      new Date('{{ book.date_end|date:"Y/m/d H:i" }}'),
    {% endfor %}
  ];

  $('#datetimepicker, #datetimepicker2').datetimepicker({
    defaultValue: '{{ datetime|date:"Y-m-d H" }}',
    minDateTime: nextHour,
    format: 'Y-m-d H:00',
    step: 60,
    allowTimes: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
    disabledDates: disabledDates
  });
});

</script>
{%endblock content%}