{%extends 'base/base.html'%}
{%block title%}Facility-Bookings{%endblock title%}
{%block content%}
<div class="col-md-12 text-center bookings-title">Bookings</div>
<div class="col-md-12 room-bookings-card">
          <div class="py-2 float-left h6">
              {%if role == 'administrator'%}
                <a href="{%url 'adminstrator_page'%}" class="btn back-to-dashboard-button">
                    <i class="bi bi-arrow-left-circle"></i>
                    Dashboard
                </a>
                {%else%}
                <a href="{%url 'rooms'%}" class="btn back-to-dashboard-button">
                    <i class="bi bi-arrow-left-circle"></i>
                    Facilities
                </a>
              {%endif%}
            </div>

     <table class="table table-striped table-bordered display nowrap" id="example" style="width: 100%">
          <thead>
            <tr>
              <th>No.</th>
              <th>Facility</th>
              <th>Booked by</th>
              <th>Starting Date</th>
              <th>Ending Date</th>
              <th>Duration</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {%for book in room_booking%}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{book.room_id}}</td>
              <td class="text-capitalize"><a href="#">{{book.user_id.first_name}}</a></td>
               <td>{{book.date_start}}</td>
               <td>{{book.date_end}}</td>
              <td>{{book.duration_hours}} hrs</td>
              <td><a href="{%url 'booking_detail' book.pk%}">View</a></td>
          </tr>
          {%endfor%}
          </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        } );
    } );
</script>
{%endblock content%}