{%extends 'base/base.html'%}
{%load static%}
{%block title%}book room{%endblock title%}
{%block content%}
<div class="col-md-12 text-center bookings-title">Book Room {{room.title}}</div>

    <form method="post" class="row book_room_form">
    <div class="col-md-12 m-2">
         {%if role == 'administrator'%}
           <a href="{%url 'dashboard'%}" class="btn btn-lg back-to-dashboard-button">
             <i class="bi bi-arrow-left-circle"></i>
             Dashboard
         </a>
            {%else%}
            <a href="{%url 'rooms'%}" class="btn btn-lg back-to-dashboard-button">
             <i class="bi bi-arrow-left-circle"></i>
             Rooms
         </a>
            {%endif%}
    </div>
        {%csrf_token%}
        <div class="col-md-6 mt-2">
            <label class="h6">Meeting title</label>
            <div class="form-group">
              <input type="text" required autofocus name="title" placeholder='meeting title' class="form-control">
            </div>



        <label class="h6">Starting date:</label>
        <div class="form-group">
          <input type="text" required name="starting-date" id="datetimepicker"  value="{{ datetime|date:'Y-m-d H' }}" class="form-control">
        </div>



         <label class="h6">Ending date:</label>
        <div class="form-group">
          <input type="text" required name="ending-date" id="datetimepicker2" value="{{ datetime|date:'Y-m-d H' }}" class="form-control">
        </div>
        </div>

         <div class="col-md-6 mt-2">
         <div class="py text-center"><label class="h6">Peripherals</label></div>
             {%for x in facilities%}
            <p><input class="bg-info" type="checkbox" checked disabled> {{x.title}}</p>
             {%endfor%}
         <div class="py text-center"><label class="h6">Refreshments</label></div>

        </div>

        <div class="col-md-12 text-center mt-2">
        <button class="btn btn-secondary book-room-btn h5" id="book-room-button"  type="submit">Book Room</button>
        </div>
    </form>
<script>
$(function () {
  var now = new Date();
  now.setMinutes(0);
  now.setSeconds(0);
  now.setMilliseconds(0);
  var nextHour = new Date(now.getTime() + 60 * 60 * 1000);

  var disabledDates = [
    {% for book in bookings %}
      new Date('{{ book.date_start|date:"Y-m-d H:i:s" }}'),
      new Date('{{ book.date_end|date:"Y-m-d H:i:s" }}'),
    {% endfor %}
  ];

  var disabledTimeIntervals = [];
  for (var i = 0; i < disabledDates.length; i += 2) {
    var start = disabledDates[i];
    var end = disabledDates[i + 1];
    if (start.getDate() !== end.getDate()) {
      // Skip if start and end dates are different
      continue;
    }
    disabledTimeIntervals.push([start.getHours() + ':00', end.getHours() + ':00']);
  }

  console.log(disabledTimeIntervals);

  $('#datetimepicker, #datetimepicker2').datetimepicker({
    defaultValue: '{{ datetime|date:"Y-m-d H" }}',
    minDateTime: nextHour,
    format: 'Y-m-d H:00',
    step: 60,
    disabledTimeIntervals: disabledTimeIntervals
  });
});

</script>
{%endblock content%}