{%extends 'base/base.html'%}
{%block title%}Room-Bookings{%endblock title%}
{%block content%}


<div class="container">

        <main class="shadow-lg">
            <div class="py-4 text-center h4">Bookings</div>
         <table class="table data-table">
              <thead>
                <tr>
                  <th scope="col">Campus</th>
                  <th scope="col">Room</th>
                  <th scope="col">Location</th>
                  <th scope="col">Meeting</th>
                  <th scope="col">Booked by</th>
                  <th scope="col">starting time</th>
                  <th scope="col">Ending time</th>
                  <th scope="col">View</th>
                  <!--<th scope="col">Job Title</th>-->
                </tr>
              </thead>
              <tbody>
              {%for book in room_booking%}
              <tr>
                  <td>{{book.room_id.campus_name}}</td>
                  <td>{{book.room_id}}</td>
                  <td>{{book.room_id.room_position}}</td>
                  <td>{{book.title}}</td>
                  <td>{{book.booked_by}}</td>
                  <td>{{book.starting_time}}</td>
                  <td>{{book.ending_time}}</td>
                  <td><a href="{%url 'book_detail' book.pk%}">View</a></td>
              </tr>
              {%endfor%}
              </tbody>
            </table>
        </main>
</div>
{%endblock content%}