{%extends 'base/base.html'%}
{%load static%}
{%block title%}dashboard{%endblock title%}
{%block content%}
<div class="container">
    <div class="py-5 text-center text-info h4">Rooms</div>
    <div class="row shadow-lg">

         <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Capacity</th>
                  <th scope="col">Number</th>
                  <th scope="col">View</th>
                </tr>
              </thead>
              <tbody>
              {%for room in rooms%}
              <tr>
                  <td class="text-capitalize">{{room.room_name}}</td>
                  <td class="text-capitalize">{{room.campus_name}}</td>
                  <td>{{room.room_capacity}}</td>
                  <td>{{room.room_number}}</td>
                  <td><a href="{%url 'room_detail' room.pk%}">View</a></td>
              </tr>
              {%endfor%}
              </tbody>
        </table>

    </div>
</div>
{%endblock content%}
