{%extends 'base/base.html'%}
{%load static%}
{%block title%}index{%endblock title%}
{%block content%}
<div class="container">
    <div class="row py-5">
        <div class="col-lg-8 py-5 ml-5 content-align-center">
            <div class="py-5 text-center"><label class="text-info h3"></label></div>
            <div class="container-fluid shadow-lg my-container">
                <div class="row shadow-lg justify-content-center">
                    <div class="col-md-6 py-4">
                        <form method="post">
                            {%csrf_token%}
                            <label class="h4">Username</label>
                            <div class="form-group">
                              <input type="text" placeholder="mail@zetech.ac.ke" class="form-control rounded-pill">
                            </div>

                            <label class="h4">Password</label>
                            <div class="form-group">
                              <input type="password" placeholder="........." class="form-control rounded-pill">
                            </div>

                            <input type="submit" value="Login">
                             <label class="small-text ml-4 my-text">forgot password</label>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock content%}