{%extends 'base/base.html'%}
{%block title%}Room-Bookings{%endblock title%}
{%block content%}
<div class="col-md-12 text-center bookings-title">Your Bookings</div>
<div class="col-md-12 room-bookings-card">
          <div class="py-2 float-left h6">
              {%if role == 'adminstrator'%}
                <a href="{%url 'adminstrator_page'%}" class="btn back-to-dashboard-button">
                    <i class="bi bi-arrow-left-circle"></i>
                    Dashboard
                </a>
                {%else%}
                <a href="{%url 'rooms'%}" class="btn back-to-dashboard-button">
                    <i class="bi bi-arrow-left-circle"></i>
                    Rooms
                </a>
              {%endif%}
            </div>
     <table class="table table-striped table-bordered data-table">
          <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Meeting Room</th>
                <th scope="col">Starting Date</th>
                <th scope="col">Ending Date</th>
                 <th scope="col">Duration</th>
               <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
          {%for book in bookings%}

          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{book.room_id}}</td>
              <td>{{book.date_start}}</td>
              <td>{{book.date_end}}</td>
              <td>{{book.duration_hours}} hrs</td>
              <td><a href="{%url 'booking_detail' book.pk%}">View</a></td>
          </tr>
          {%endfor%}
          </tbody>
    </table>
</div>
{%endblock content%}