{%extends 'base/base.html'%}
{%load static%}
{%block title%}Room Detail{%endblock title%}
{%block content%}
<div class="row p-4" style="height: 95vh; width: 100%; background-color: white; background-attachment: fixed;">
  <div class="col-lg-12 mt-3 shadow-lg">
      <div class="py-5 text-center h3 my-text">{{object.room_name}}</div>
        <div class="container-fluid shadow-lg">

          <div class="row py-2 room_detail">
            <div class="col-md-3 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title text-center h5">Room Details</h5>
                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room Name:</div>
                          <div class="col">{{room.room_name}}</div>
                      </div>

                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room Location:</div>
                          <div class="col">{{room.campus_name}}</div>
                      </div>

                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room number:</div>
                          <div class="col">{{room.room_number}}</div>
                      </div>

                     <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room capacity:</div>
                          <div class="col">{{room.room_capacity}}</div>
                      </div>


                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title text-center h5">Resources</h5>
                    {% for resource in resources %}
                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">{{resource.resource_name}}:</div>
                          <div class="col">Available</div>
                      </div>
                    {%endfor%}
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Bookings</h5>
                  {%for book in bookings%}
                    <div class="row mt-3 shadow-sm">
                      <div class="col h5">{{resource.resource_name}}:</div>
                      <div class="col">Available</div>
                    </div>
                  {%endfor%}
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Resources</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
          </div>


         </div>
    </div>
  </div>
</div>
{%endblock content%}