{%extends 'base/base.html'%}
{%block title%}Book Room{%endblock title%}
{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mt-3 ml-5 shadow-lg content-align-center">
                <div class="py-5 text-center"><label class="text-info h4">Book Room</label></div>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}


                <div class="container-fluid">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row content-align-center shadow-lg">
                                    <div class="col-sm-12">
                                        <p>Room number</p>
                                        <input type="text" value="{{room.room_number}}" name="room_number" id="room_number">
                                    </div>
                                     <div class="col-sm-12">
                                        <p>Booked by</p>
                                        <input type="text" value="{{request.user}}" name="bookedby" id="bookedby">
                                    </div>



                                    <div class="col-sm-12">
                                        <p>Meeting name</p>
                                        <input type="text" value="" required="" name="meeting_title" id="meeting_title">
                                    </div>
                                     <div class="col-sm-12">
                                        <p>Starting Time</p>
                                        <input type="datetime-local" value="" name="starting_time" id="starting_time">
                                    </div>



                                    <div class="col-sm-12">
                                        <p>Ending time</p>
                                        <input type="datetime-local" value="" name="ending_time" id="ending_time">
                                    </div>

                                </div>

                                <input type="submit" class="mt-4" value="Book">
                            </form>

                </div>

            </div>
        </div>
    </div>
{%endblock content%}