{%extends 'base/base.html'%}
{%load static%}
{%block title%}Room Detail{%endblock title%}
{%block content%}
<div class="row room-detail-container justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center h5">Room Details</h5>
              <div class="row mt-3 shadow-sm">
                  <div class="col h6">Room Name:</div>
                  <div class="col">{{room.title}}</div>
              </div>

              <div class="row mt-3 shadow-sm">
                  <div class="col h6">Room Location:</div>
                  <div class="col">{{room.location}}</div>
              </div>

             <div class="row mt-3 shadow-sm">
                  <div class="col h6">Room capacity:</div>
                  <div class="col">{{room.capacity}}</div>
              </div>


        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card">
          <table class="table data-table">
              <thead>
                <tr>
                  <th scope="col">Booked by</th>
                  <th scope="col">Meeting</th>
                  <th scope="col">Starting time</th>
                  <th scope="col">Ending time</th>
                  <th scope="col">View</th>
                </tr>
              </thead>
              <tbody>
              {%for book in bookings%}
              <tr>
                  <td class="text-capitalize">{{book.user_id}}</td>
                  <td class="text-capitalize">{{book.title}}</td>
                  <td>{{book.date_start}}</td>
                  <td>{{book.date_end}}</td>
                  <td><a href="{%url 'room_detail' room.pk%}">View</a></td>
              </tr>
              {%endfor%}
              </tbody>
        </table>
      </div>
    </div>


    <div class="col-md-6">
        <form method="post" class="book-room-form">
            {%csrf_token%}
            <label class="h6">Meeting title</label>
            <div class="form-group">
              <input type="text" required autofocus name="title" placeholder='meeting title' class="form-control">
            </div>

            <label class="h6">Starting date:</label>
            <div class="form-group">
              <input type="datetime-local" required name="starting-date" class="form-control">
            </div>

             <label class="h6">Ending date:</label>
            <div class="form-group">
              <input type="datetime-local" required name="ending-date" class="form-control">
            </div>

            <button class="btn btn-block book-room-btn h5" id="book-room-button"  type="submit">Book Room</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="py-3 text-center">
            <div class="card">
                <a href="{%url 'room_update' room.id%}" class="btn btn-secondary">Update Room</a>
            </div>
        </div>
    </div>
</div>

{%endblock content%}