{%extends 'base/base.html'%}
{%load static%}
{%block title%}dashboard{%endblock title%}
{%block content%}

<div class="row justify-content-center">
        <div class="room-bookings-card">
            <div class="justify-content-between h3 d-flex align-items-center py-2 text-center">
              <div class="py-2 text-center h3">Available Rooms</div>
              <a class="btn float-right add-room-button" href="{%url 'create_room'%}">Add Room</a>
            </div>
             <table class="table data-table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Location</th>
                      <th scope="col">Capacity</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for room in rooms%}
                  <tr>
                      <td class="text-capitalize room-fields">{{room.title}}</td>
                      <td class="text-capitalize room-fields">{{room.location}}</td>
                      <td class="room-fields">{{room.capacity}}</td>
                      <td class="room-fields"><a href="{%url 'room_detail' room.pk%}">View</a></td>
                  </tr>
                  {%endfor%}
                  </tbody>
            </table>
        </div>
</div>

{%endblock content%}
