{%extends 'base/base.html'%}
{%load static%}
{%block title%}dashboard{%endblock title%}
{%block content%}
<div class="col-md-12 text-center room-title">Facilities</div>
<div class="room-bookings-card">
    <div class="justify-content-between h3 d-flex align-items-center py-2 text-center">
        {%if role == 'administrator'%}
        <div class="py-2 float-left text-center h6">
            <a href="{%url 'adminstrator_page'%}" class="btn btn-lg back-to-dashboard-button">
                <i class="bi bi-arrow-left-circle"></i>
                Back
            </a>
        </div>
        <div class="float-right"><a class="btn add-room-button" href="{%url 'create_room'%}"> Add Facility</a></div>
        {%else%}
        <div class="py-2 float-left text-center h4">Facilities</div>
        {%endif%}
    </div>

     <table class="table rooms-table table-striped table-bordered">
          <thead>
            <tr>
                <th scope="col">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Capacity</th>
                {%if role == 'administrator'%}
                <th scope="col">status</th>
                {%endif%}
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
          {%for room in rooms%}
          <tr>
              <td>{{forloop.counter}}</td>
              <td class="text-capitalize room-fields">{{room.title}}</td>
              <td class="text-capitalize room-fields">{{room.location}}</td>
              <td class="room-fields">{{room.capacity}}</td>
              {%if role == 'administrator'%}
              {%if room.is_active == 1%}
              <td class="room-fields">Active</td>
              {%else%}
              <td class="room-fields">Not Active</td>
              {%endif%}
              {%endif%}
              <td class="room-fields">
                    <div class="btn-group dropup">
                      <button class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </button>
                      <div class="dropdown-menu">
                          <a href="{%url 'room_detail' room.pk%}" class="dropdown-item">View</a>
                          {%if role == "administrator"%}
                          <a href="{%url 'room_update' room.id%}" class="dropdown-item update_disable_item_link">Edit</a>
                          <a href="{%url 'suspend_room' room.id%}"
                             class="dropdown-item update_disable_item_link">Suspend</a>
                          {%if room.is_active == 1%}
                          <a href="{%url 'activate_deactivate_room' room.pk%}"
                              onclick="return confirm('Are you sure you want to Disable this Facility?');"
                             class="dropdown-item update_disable_item_link">Disable</a>
                          {%else%}
                          <a href="{%url 'activate_deactivate_room' room.pk%}"
                              onclick="return confirm('Are you sure you want to activate this Facility?');"
                             class="dropdown-item activate_item_link">activate</a>
                          {%endif%}
                           {%endif%}
                      </div>
                     </div>
              </td>
          </tr>

          {%endfor%}
          </tbody>
    </table>

</div>


{%endblock content%}
