{%extends 'base/base.html'%}
{%load static%}
{%block title%}Room Detail{%endblock title%}
{%block content%}


<div class="container">
    <div class="room-detail-container">

        <div class="row shadow-lg py-2">
            <div class="col-md-6 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center h5">Room Details</h5>
                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room Name:</div>
                          <div class="col">{{room.room_name}}</div>
                      </div>

                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room Location:</div>
                          <div class="col">{{room.campus_name}}</div>
                      </div>

                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room number:</div>
                          <div class="col">{{room.room_number}}</div>
                      </div>

                     <div class="row mt-3 shadow-sm">
                          <div class="col h5">Room capacity:</div>
                          <div class="col">{{room.room_capacity}}</div>
                      </div>


                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center h5">Resources</h5>
                    {% for resource in resources %}
                      <div class="row mt-3 shadow-sm">
                          <div class="col h5">{{resource.resource_name}}:</div>
                          <div class="col">Available</div>
                      </div>
                    {%endfor%}
                </div>
              </div>
            </div>
        </div>

         <main class="shadow-lg">
             <table class="table data-table">
                  <thead>
                    <tr>
                      <th scope="col">Booked by</th>
                      <th scope="col">Meeting</th>
                      <th scope="col">Starting time</th>
                      <th scope="col">Ending time</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for book in bookings%}
                  <tr>
                      <td class="text-capitalize">{{book.booked_by}}</td>
                      <td class="text-capitalize">{{book.title}}</td>
                      <td>{{book.starting_time}}</td>
                      <td>{{room.ending_time}}</td>
                      <td><a href="{%url 'room_detail' room.pk%}">View</a></td>
                  </tr>
                  {%endfor%}
                  </tbody>
            </table>
        </main>
</div>
</div>


{%endblock content%}