{%extends 'base/base.html'%}
{%block title%}Create Room{%endblock title%}
{%block content%}
<div class="col-md-12 text-center create-room-title">Add Facility</div>

        <form method="post" class="row room-create-form">
            {%csrf_token%}
            <div class="col-md-6">
            <label class="h6">Facility Location</label>
            <div class="form-group">
              <select class="form-control form-control-lg" required name="location_id">
                  {%for x in campus%}
                  <option  value="{{x.id}}">{{x.title}}</option>
                  {%endfor%}
              </select>
            </div>
            </div>

            <div class="col-md-6">
                <label class="h6">Facility Name</label>
                <div class="form-group">
                    <input type="text" required name="title" class="form-control form-control-lg">
                </div>
            </div>

            <div class="col-md-6">
            <label class="h6">Capacity</label>
            <div class="form-group">
                <input type="number" name="capacity" required class="form-control form-control-lg">
            </div>
            </div>

            <div class="col-md-6">
            <label class="h6">Services</label>
            <div class="form-group">
                {%for facility in facility%}
                <input type="checkbox" name="facilities" value="{{facility.id}}">
                <label>{{facility.title}}</label><br>
                {%endfor%}
            </div>
            </div>
            <div class="col-md-12 text-center">
             <button class="btn  create-room-submit-btn h5" type="submit">Submit</button>
            <a class="btn cancel-user-creation-button text-white ml-4 h5" href="{%url 'dashboard'%}">Cancel</a>
            </div>

        </form>
{%endblock content%}