{%extends 'base/base.html'%}
{%block title%}Update Room{%endblock title%}
{%block content%}
<div class="update-room-title text-center">Update Facility</div>
       <form method="post" class="row room-update-form" action="{%url 'room_update' room.pk%}">
           <div class="col-md-12">
               <a href="{%url 'dashboard'%}" class="btn create-room-submit-btn text-white">Back</a>
           </div>
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {%csrf_token%}
            {%for field in form%}
            <div class="col-md-6 mt-4">
            <div class="form-group">
                <label class="fw-bold h5">{{field.label_tag}}</label>
                {{field}}
            </div>
            </div>
            {%endfor%}
           <div class="col-md-12 text-center">
            <button class="btn create-room-submit-btn text-white h5 fw-bold" type="submit">Submit</button>
           </div>
       </form>
{%endblock content%}